<?xml version="1.0" encoding="UTF-8"?>
<config>
  <modules>
    <Plumrocket_Faq>
      <version>1.0.0</version>
    </Plumrocket_Faq>
  </modules>
  <frontend>
    <routers>
      <faq>
        <use>standard</use>
        <args>
          <module>Plumrocket_Faq</module>
          <frontName>faq</frontName>
        </args>
      </faq>
    </routers>
    <layout>
      <updates>
        <faq>
          <file>faq.xml</file>
        </faq>
      </updates>
    </layout>
  </frontend>
  <global>
    <helpers>
      <faq>
        <class>Plumrocket_Faq_Helper</class>
      </faq>
    </helpers>
    <blocks>
      <faq>
        <class>Plumrocket_Faq_Block</class>
      </faq>
    </blocks>
  </global>
</config>
