<?xml version="1.0" encoding="UTF-8"?>
<config>
  <modules>
    <Plumrocket_Faq>
      <version>1.0.0</version>
    </Plumrocket_Faq>
  </modules>
  <frontend>
    <routers>
      <faq>
        <use>standard</use>
        <args>
          <module>Plumrocket_Faq</module>
          <frontName>faq</frontName>
        </args>
      </faq>
    </routers>
    <layout>
      <updates>
        <faq>
          <file>faq.xml</file>
        </faq>
      </updates>
    </layout>
    <translate>
      <modules>
        <Plumrocket_Faq>
          <files>
            <default>Plumrocket_Faq.csv</default>
          </files>
        </Plumrocket_Faq>
      </modules>
    </translate>
  </frontend>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <Plumrocket_Faq before="Mage_Adminhtml">Plumrocket_Faq_Adminhtml</Plumrocket_Faq>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <adminhtml>
    <layout>
      <updates>
        <Plumrocket_Faq>
          <file>faq.xml</file>
        </Plumrocket_Faq>
      </updates>
    </layout>
    <translate>
      <modules>
        <Plumrocket_Faq>
          <files>
            <default>Plumrocket_Faq.csv</default>
          </files>
        </Plumrocket_Faq>
      </modules>
    </translate>
  </adminhtml>
  <global>
    <models>
      <faq>
        <class>Plumrocket_Faq_Model</class>
        <resourceModel>faq_resource</resourceModel>
      </faq>
      <faq_resource>
        <class>Plumrocket_Faq_Model_Resource</class>
        <entities>
          <block>
            <table>plumrocket_faq</table>
          </block>
        </entities>
      </faq_resource>
    </models>
    <resources>
      <faq_setup>
        <setup>
          <module>Plumrocket_Faq</module>
        </setup>
      </faq_setup>
    </resources>
    <helpers>
      <faq>
        <class>Plumrocket_Faq_Helper</class>
      </faq>
    </helpers>
    <blocks>
      <faq>
        <class>Plumrocket_Faq_Block</class>
      </faq>
    </blocks>
  </global>
  <defalut>
    <faq>
      <general>
        <enabled>1</enabled>
      </general>
    </faq>
  </defalut>
</config>
