<?xml version="1.0" encoding="UTF-8"?>
<config>
  <tabs>
    <plumrocket>
      <label>Plumrocket</label>
      <sort_order>101</sort_order>
    </plumrocket>
  </tabs>
  <sections>
    <faq>
      <label>FAQ</label>
      <tab>plumrocket</tab>
      <sort_order>102</sort_order>
      <frontend_type>text</frontend_type>
    		<show_in_default>1</show_in_default>
    		<show_in_website>1</show_in_website>
    		<show_in_store>1</show_in_store>
        <groups>
          <general translate="label" module="faq">
            <label>General</label>
            <expanded>1</expanded>
            <sort_order>1</sort_order>
            <frontend_type>text</frontend_type>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <fields>
              <enabled translate="label" module="faq">
                <label>Enable FAQ</label>
                <frontend_type>select</frontend_type>
                <source_model>adminhtml/system_config_source_yesno</source_model>
                <sort_order>1</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>1</show_in_store>
              </enabled>
            </fields>
          </general>
        </groups>
    </faq>
  </sections>
</config>
